@charset "utf-8";
body{
    background-color:goldenrod;
    color:brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1{
    font-size: 40px;
}
